body{
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    text-align: right;
    padding: 5px;
}

a {
    margin: 10px;
    color: black;
}

#main{
    text-align: center;
    margin: 20px;
    padding: 20px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#query{
    width: 600px;
    margin: 10px;
    padding: 10px 20px;
    font-size: large;
    border: solid gray 1px;
    border-radius: 25px;
}

#search, #lucky{
    margin: 10px;
    padding: 10px 20px;
    font-size: medium;
    border: none;
    border-radius: 5px;
}

#search:hover, #lucky:hover{
    border: solid gray 1px;
}

#title{
    font-size: large;
    text-align: left;
}

#advmain{
    margin: 20px;
    padding: 20px;
    height: 500px;
    width: 600px;
}

.advinput{
    width: 350px;
    margin: 5px;
    padding: 5px;
    border: solid 1px gray;
    
}

.advinput:focus{
    outline: none !important;
    border: solid 1px rgb(48, 121, 237) ;
}

.advsearch{
    display: flex;
    justify-content: end;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: auto;
    padding: 5px 10px;

}

#advSubmit{
    background-color: rgb(77, 144, 254);
    font-weight: bold;
    color: white;
    border: solid rgb(48, 121, 237) 1px;
    padding: 5px;
    float: right;
}

#advSubmit:hover{
    border: solid rgb(48, 121, 237) 2px;
}
